<main>
  <div class="main-container">
    <div class="main-title">
      <img src="/img/welcome-to.svg" alt="hello">
      <div class="main-greeeting">
        <h1>Hello</h1>
        <p>Welcome to Admin Dashboard</p>
      </div>
    </div>

    <div class="main-cards">

      <div class="info-card">
        <i class="fas fa-users fa-2x text-lightblue"></i>
        <div class="card-inner">
          <p class="text-primary-p">Students</p>
          <span class="font-bold text-title">4500</span>
        </div>
      </div>

      <div class="info-card">
        <i class="fas fa-user-friends fa-2x text-red"></i>
        <div class="card-inner">
          <p class="text-primary-p">Teachers</p>
          <span class="font-bold text-title">79</span>
        </div>
      </div>

      <div class="info-card">
        <i class="fas fa-school fa-2x text-yellow"></i>
        <div class="card-inner">
          <p class="text-primary-p">Due Fees</p>
          <span class="font-bold text-title">$100,000</span>
        </div>
      </div>

      <div class="info-card">
        <i class="fas fa-money-bill fa-2x text-green"></i>
        <div class="card-inner">
          <p class="text-primary-p">Revenues</p>
          <span class="font-bold text-title">$700,000</span>
        </div>
      </div>

    </div>

    <div class="charts">
      <div class="charts-left">
        <div class="charts-left-title">
          <div>
            <h1>Yearly Reports</h1>
            <p>Annual account Infomation</p>
          </div>
          <i class="fas fa-chart-bar"></i>
        </div>
        <div id="apex1"></div>
      </div>
      <div class="charts-right">
        <div class="charts-right-title">
          <div>
            <h1>Earnings Reports</h1>
            <p>Reported Per Term</p>
          </div>
          <i class="fas fa-wallet"></i>
        </div>

        <div class="charts-right-cards">

          <div class="card1">
            <h1>Income</h1>
            <p>$600,000</p>
          </div>

          <div class="card2">
            <h1>Expense</h1>
            <p>$23,000</p>
          </div>

          <div class="card3">
            <h1>Sales</h1>
            <p>$34,000</p>
          </div>

          <div class="card4">
            <h1>Debt</h1>
            <p>$2,000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>