<%- include('layout/header') %>

  <main id="about-page">
    <div class="container-fluid px-0">
      <div class="school-image-top">
        <h1 class="title"><%= title %> </h1>
      </div>
      <section class="about-us">
        <div class="about-us-info">
          <h1 class="title-margin">About us</h1>
          <p>Welcome to Smart school, Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliquaolor sit amet,
            consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua
          </p>
        </div>
        <div class="our-story">
          <div class="our-story-info">
            <h1>Our Story</h1>
            <p>Welcome to Smar school, Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="info-sub-paragraph">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur
              </p>
            </div>
            <div class="col-md-6">
              <p class="info-sub-paragraph">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="about-class-explore">
          <h1>Our facilities</h1>
        </div>
        <div class="school-images">
        </div>
      </section>
      <section class="our-mission">
        <div class="our-mission-info">
          <h1>Our mission</h1>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="mission-sub-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
          </div>
          <div class="col-md-6">
            <p class="mission-sub-paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>
          </div>
        </div>
      </section>
      <section id="real-fact-about-school">
        <div class="real-fact-info">
          <h2>Real fact about us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
        <div class="fact-wrapper">
          <div class="fact">
            <h3 class="student-fact">+</h3>
            <p>Students</p>
          </div>
          <div class="fact">
            <h3 class="teacher-fact">+</h3>
            <p>Teachers</p>
          </div>
          <div class="fact">
            <h3 class="award-fact">+</h3>
            <p>Awards</p>
          </div>
          <div class="fact">
            <h3 class="building-fact">+</h3>
            <p>Buildings</p>
          </div>
        </div>
      </section>
      <section id="competition-visit">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="competition-card">
              <div class="inner-card-header">
                <h2>Mathemetics Competition</h2>
              </div>
              <div class="competition-card-body">
                <img src="/img/students.jpg" alt="card image">
              </div>
              <div class="competition-card-footer">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                <h3>Gold medal</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <div class="competition-card">
              <div class="inner-card-header">
                <h2>Science Competition</h2>
              </div>
              <div class="competition-card-body">
                <img src="/img/students.jpg" alt="card image">
              </div>
              <div class="competition-card-footer">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                <h3>Silver medal</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center">
            <div class="competition-card">
              <div class="inner-card-header">
                <h2>Cambridge Visit</h2>
              </div>
              <div class="competition-card-body">
                <img src="/img/students.jpg" alt="card image">
              </div>
              <div class="competition-card-footer">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                <h3>Lacos Visae</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <div class="competition-card">
              <div class="inner-card-header">
                <h2>Art quiz Competition</h2>
              </div>
              <div class="competition-card-body">
                <img src="/img/students.jpg" alt="card image">
              </div>
              <div class="competition-card-footer">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                <h3>Gold medal</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="ready-to-register">
        <div class="ready-wrapper">
          <div class="ready-info">
            <h3>Ready to Regiser?</h3>
            <p>Explore more by click the button</p>
          </div>
          <a class="ready-button" href="/user/register">Register</a>
        </div>
      </section>
    </div>
  </main>


  <%- include('layout/footer') %>