<%- include('layout/header') %>

  <main id="boarding-page">
    <div class="container-fluid px-0">
      <div class="school-image-top">
        <h1 class="title"><%= title %> </h1>
      </div>
      <!-- <div class="boarding-image-top">
        <h1 class="title">
          <%= title %>
        </h1>
      </div> -->
      <section id="boarding-wrapper">
        <div class="row boarding-principal-wrapper ">
          <div class="col-md-3 offset-r-md-1 ">
            <div class="boarding-principal">
              <img class="" src="/img/boarding-school-principal.jpg" alt="boarding school director picture">
              <h3>Micheal Francis</h3>
              <p>Boarding principal</p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="boarding-principal-speech">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus autem incidunt hic maxime eum placeat
                illo fuga minima soluta unde corporis harum tenetur quia fugiat ex sunt, in cumque voluptas esse? Eum
                architecto perspiciatis dolores est deleniti iure explicabo harum.</p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis modi suscipit dolore vero
                eveniet commodi at fugit molestiae! Nemo esse quisquam rerum officia animi architecto aliquam sequi rem
                culpa tempora quia placeat dolores necessitatibus ipsum eaque, natus asperiores quibusdam itaque quas
                accusantium distinctio debitis corporis laboriosam velit. Sed, deserunt laboriosam.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima exercitationem laborum accusamus
                laboriosam voluptas dolore est unde assumenda commodi ratione, eos rem? Eum, assumenda sequi eos nisi
                aspernatur laboriosam voluptas dolorum tenetur incidunt exercitationem quia. Reiciendis, at. Sunt
                molestiae aut nesciunt tempora eveniet dolorum, nisi inventore rerum veniam, ipsam quisquam!</p>
              <div class="bording-button">
                <a href="">Download Brochure</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="boarding-room">
        <div class="row">
          <div class="col-md-6 boarding-img-wrapper d-flex justify-content-center">
            <img src="/img/inner-class.jpg" alt="boarding room">
          </div>
          <div class="col-md-6 boarding-img-wrapper d-flex justify-content-center">
            <img src="/img/inner-class.jpg" alt="boarding room">
          </div>
        </div>
      </section>
      <section id="why-choose-boarding">
        <h1>Best Boarding school in lagos & Nigeria</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iste eum repudiandae esse sit voluptate ex
          eligendi qui delectus recusandae eaque, placeat praesentium cumque velit officia voluptatibus, dolorem ab
          error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolores rerum reiciendis quam quasi a ea
          laudantium dolor! Iste suscipit, ipsa eveniet magnam accusantium eius pariatur placeat illum odit
          necessitatibus!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum nemo iste quas laborum nisi. Quaerat labore
          minus, doloremque, rem inventore natus explicabo exercitationem illum similique, laboriosam dignissimos velit
          ratione. Cupiditate.</p>
        <div class="bording-room">
          <div class="row">
            <div class="col-md-6 boarding-img-wrapper d-flex justify-content-center">
              <img src="/img/inner-class.jpg" alt="boarding room">
            </div>
            <div class="col-md-6 boarding-img-wrapper d-flex justify-content-center">
              <img src="/img/inner-class.jpg" alt="boarding room">
            </div>
          </div>
        <div class="bording-button">
          <a href="">Download Brochure</a>
        </div>
      </section>
      <section id="boarding-accordion-wrapper">
        <div class="boarding-according-wrapper">
          <div class="boarding-accordion">
            
            <div class="accordion-hambugger">
              <div class="accordion-bar1"></div>
              <div class="accordion-bar2"></div>
            </div>
            <div style="flex: 1 0 auto">Live-in House Parents</div>
          </div>
          <div class="accordion-panel">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>

          <div class="boarding-accordion">
            <div class="accordion-hambugger">
              <div class="accordion-bar1"></div>
              <div class="accordion-bar2"></div>
            </div>
            <div style="flex: 1 0 auto">Extra Learning Classes</div>
          </div>
          <div class="accordion-panel">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>

          <div class="boarding-accordion">
            <div class="accordion-hambugger">
              <div class="accordion-bar1"></div>
              <div class="accordion-bar2"></div>
            </div>
            <div style="flex: 1 0 auto">Modern Common Rooms</div>
          </div>
          <div class="accordion-panel">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>

          <div class="boarding-accordion border-style">
            <div class="accordion-hambugger">
              <div class="accordion-bar1"></div>
              <div class="accordion-bar2"></div>
            </div>
            <div style="flex: 1 0 auto">Sporting Facilities</div>
          </div>
          <div class="accordion-panel">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </section>
      <section id="boarding-experience-wrapper">
        <div class="boarding-experience">
          <h1>Providing world-class Education for more than 30 years</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quam maxime, aliquid quidem odit quo
            accusamus magnam impedit ducimus itaque aspernatur, quos ad corporis expedita error sint reiciendis soluta?
            Impedit.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident id fuga ipsa qui ipsam enim eius tempore
            nostrum tempora sunt, ratione culpa nemo dignissimos voluptatibus. Animi qui aperiam ipsum omnis.</p>
          
          <div class="bording-button">
            <a href="">Download Brochure</a>
          </div>
        </div>
      </section>
    </div>
  </main>
  <%- include('layout/footer') %>