<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="not-found-wrapper">
  <main class="not-found">
    <div class="not-found-text">
      <h1>404</h1>
      <p>Page Not Found</p>
    </div>
  </main>  
</body>
</html>