<div class="creche-wrapper">
  <div class="row">
    <div class="col-md-4">
      <div class="col-12">
        <div class="first-image-animation">
          <img class="slide kid-1" src="/img/kid-1.jpg" alt="creche kid picture">
          <img class="slide kid2" src="/img/kid-2.jpg" alt="creche kid picture">
          <img class="slide kid-3" src="/img/kid-3.jpg" alt="creche kid picture">
          <img class="slide kid-3" src="/img/kid-4.jpg" alt="creche kid picture">

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="curriculum-info">
        <h1>School crèche</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repudiandae nesciunt distinctio enim accusamus reiciendis
          expedita. Sit minima dicta commodi numquam tempore vel atque quis
          quos officiis. Magnam corrupti quisquam nobis voluptate
          consequatur, fuga nisi ea!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
          eveniet neque corporis tenetur maxime voluptatibus, vitae libero,
          facilis ratione nostrum explicabo cum, voluptas possimus nihil
          esse ipsum soluta laudantium voluptatum sunt ullam rem ad harum
          sit sed. Quaerat dignissimos et impedit modi non architecto,
          voluptatum, sunt asperiores in dicta culpa.
        </p>
      </div>
      <div class="curriculum-info">
        <h2>About crèche</h2>
        <p>Our setting is a homely, attractive and huge. It has lovely airy clean and well equipped open spaces
          for the children to move about freely.
        </p>
        <p>
          We open from 7:30am to 6:30pm (plus extended hours, if required)
          from Monday to Friday running throughout the year; vacation
          periods inclusive. We accommodate special requests and have an
          absolute meticulous caring process. We are confident that the
          safety of our children is assured.
        </p>
        <p>
          Magnamcorrupti quisquam nobis voluptate consequatur, fuga nisi
          voluptas possimus nihil esse ipsum soluta laudantium voluptatum
          sunt ullam rem ad harum sit sed. Quaerat dignissimos et impedit
          modi non architecto, voluptatum, sunt asperiores in dicta culpa
        </p>
        <p>
          Our fees: Please call us or email us with your specified requirements
        </p>
      </div>
      <a class="block-button" href="">Schedule a visit</a>
    </div>
  </div>
</div>