<div class="nursery-wrapper">
  <div class="row">
    <div class="col-md-6 order-md-last">
      <div class="curriculum-info">
        <h2>Nursery curriculum</h2>
        <p>We offer a blend of the Montessori Method and the British Early Years Foundation Stage Curriculum,
          which cater for an effective learning outcome in a well-structured prepared environment.</p>
        <p><strong>The Montessori five main curricular areas:</strong></p>
        <div class="nursery-curriculum">
          <p>Practical Life Exercises</p>
          <P>Sensorial Education</P>
          <p>Language</p>
          <p>Mathematics</p>
          <p>Cultural Subjects (History, Geography, Biology)</p>
          <p>The British Foundation Stage has seven main areas of study;</p>
          <p>Mathematical Development</p>
          <p>Communication, Language and Literacy</p>
          <p>Understanding the World</p>
          <p>Physical Development</p>
          <p>Personal, Social Emotional Development</p>
          <p>Creative Development</p>
          <p>Literacy</p>
          <p>Along with ICT, musical and French</p>
        </div>
        <a class="block-button" href="">Schedule a tour</a>
      </div>
    </div>
    <div class="col-md-6 order-first order-md-last">
      <div class="row">
        <div class="col-12 ">
          <div class="slide">
            <div class="row">
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-2.jpg" alt="nursery students picture">
              </div>
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-1.jpg" alt="nursery students picture">
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-3.jpg" alt="nursery students picture">
              </div>
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-4.jpg" alt="nursery students picture">
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-1.jpg" alt="nursery students picture">
              </div>
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-4.jpg" alt="nursery students picture">
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="row">
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-2.jpg" alt="nursery students picture">
              </div>
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-3.jpg" alt="nursery students picture">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="slide2">
            <div class="row">
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-2.jpg" alt="nursery students picture">
              </div>
              <div class="col-6 nursery-image-wrapper">
                <img src="/img/kid-1.jpg" alt="nursery students picture">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>