<main id="secondary-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="secondary-principal-message">
          <div class="principal-speech-wrapper">
            <h1>Principal's message</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quisquam obcaecati eum,
              quae nesciunt deleniti odit esse nihil excepturi omnis delectus possimus consequatur
              suscipit voluptas dolores animi illum expedita, harum corporis! Accusantium dignissimos
              illo consequuntur ducimus dolore placeat, cumque, libero reprehenderit quaerat vel
              temporibus sint animi rem ea eveniet molestias voluptate facilis error voluptatem officiis
              est quisquam quo, labore fuga. Dolorum animi rem, repudiandae perferendis expedita porro
              dicta. Ex necessitatibus ut rem quos aut! Minus deserunt id sequi facilis commodi.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur perspiciatis
              cupiditate nihil aperiam commodi at sapiente id natus obcaecati, eaque officiis magni
              molestiae fugiat eos soluta tempora, reprehenderit beatae, iste autem modi! Quos ipsa
              consequatur ex inventore iusto. Eum ex omnis vitae et sapiente animi adipisci laboriosam
              numquam nihil! Molestiae quis ea tempora necessitatibus facere mollitia, doloribus maxime
              aut minima fuga reiciendis modi corrupti odit facilis quo illum officiis aliquam!</p>
              <p>Principal Smart school colledge</p>
          </div>
          <div class="secondary-curriculum-wrapper">
            <h1>Curriculum</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor optio laborum assumenda
              corrupti perferendis dolorum explicabo magnam, minima animi, placeat fugiat eligendi
              possimus reprehenderit repellat quis, earum accusantium. Cumque, illum ipsum vel tempora
              saepe labore dolorem quasi laboriosam quo a laudantium, sit impedit? Quo, deserunt? Beatae
              deserunt, laborum facere repellendus sequi ex cupiditate reprehenderit dolorem hic
              nesciunt magnam perspiciatis aliquam.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="secodary-admission-info">
          <div class="secodary-slide">
            <div class="slide-wrapper">
              <div class="secondary-slide">
                <img src="/img/secondary-1.jpg" alt="">
              </div>
              <div class="secondary-slide">
                <img src="/img/secondary-2.jpg" alt="">
              </div>
              <div class="secondary-slide">
                <img src="/img/secondary-3.jpg" alt="">
              </div>
            </div>
            <div class="secondary-card-info">
              <h3>Secondary Admissions</h3>
              <p>Kindly pick up the Registration pack from admission office.</p>
              <div class="admission-office">
                <p>Admission office</p>
                <p>Monday - Friday</p>
                <p>8:00 am - 3:00 pm</p>
              </div>
              <div class="admission-contact">
                <a href="tel:08160149421">08160149421</a>
                <span>Or</span>
                <a href="tel:08160149421">08160149421</a>
                <a href="mailto:info@smartschool.org">info@smartschool.org</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>