<%- include('layout/header', {title: 'Welcome' }) %>
  <main id="onboard">
      <div class="onboard-wrapper" >
        <div class="welcome-message">
          <h1>Welcome</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci commodi laboriosam aspernatur accusamus
            iusto assumenda sunt debitis aperiam magni delectus?</p>
          <div class="proceed-button">
            <a href="/user/student/register">Proceed to Registration</a>

            <a href="/user/student/dashboard">Skip to dashboard</a>
          </div>
        </div>
      </div>
  </main>