<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
  <div class="dashboard-container">

    <nav class="dash-navbar">
      <div class="nav-icon" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </div>
      <div class="nav-left">
        <a href="#">Message</a>
        <a href="">Post</a>
        <a href="#" class="active-link">User</a>
      </div>
      <div class="nav-right">
        <a href="#">
          <i class="fas fa-search"></i>
        </a>
        <a href="#">
          <i class="fas fa-clock"></i>
        </a>
        <a href="#">
          <img width="30px" src="/img/avatar.svg" alt="Profile">
        </a>
      </div>
    </nav>