<div id="sidebar">
  <div class="sidebar-title">
    <div class="sidebar-image">
      <img src="/img/class.jpg" alt="logo">
      <h1>Smart</h1>
    </div>
    <i class="fas fa-times" id="sidebarIcon" onclick="closeSidebar()"></i>
  </div>

  <div class="sidebar-menu">
    <div class="sidebar-link sidebar-active-link">
      <i class="fas fa-home"></i>
      <a href="/user/student/dashboard">Dashboard</a>
    </div>
    <h2>MNG</h2>
    <%if(auth.user.role === 'admin'){%>
      <div class="sidebar-link">
        <i class="fas fa-users-cog"></i>
        <a href="/user/student/dashboard/setting">User Setting </a>
      </div>
    <%}%> 
    <div class="sidebar-link">
      <i class="fas fa-user-secret"></i>
      <a href="/user/student/dashboard/profile">User</a>
    </div>
    <div class="sidebar-link">
      <i class="fas fa-user"></i>
      <a href="#">Teacher Portal</a>
    </div>
    <div class="sidebar-link">
      <i class="fas fa-file"></i>
      <a href="#">Apply for leave</a>
    </div>
    <div class="sidebar-link">
      <i class="fas fa-envelope"></i>
      <a href="#">Message</a>
    </div>
    <div class="sidebar-link">
      <i class="fas fa-users"></i>
      <a href="#">Parents</a>
    </div>
    <div class="sidebar-link">
      <i class="fas fa-book"></i>
      <a href="#">Library</a>
    </div>
    <div class="sidebar-link">
      <i class="fas fa-address-book"></i>
      <a href="#">Attendance</a>
    </div>
    <div class="sidebar-link">
      <i class="fas fa-book-open"></i>
      <a href="#">Exam</a>
    </div>
    <div class="sidebar-link">
      <i class="fas fa-receipt"></i>
      <a href="#">Account</a>
    </div>
    <div class="sidebar-logout">
      <i class="fas fa-sign-out-alt"></i>
      <a href="/user/logout">Logout</a>
    </div>
  </div>
</div>