<% if(title==="Register" || title==="Login" || title==="Student registration" ){ %>

  <% }else{ %>
    <footer>
      <div class="row">
        <div class="col-md-3">
          <div class="school-footer-info">
            <h2>Smart</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="footer-social-media">
              <a href=""><i class="fab fa-facebook-square"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <div class="school-footer-teacher">
            <h2>Teacher</h2>
            <ul>
              <li><a href="/user/student/dashboard/profile">Profile</a></li>
              <li><a href="#">Schedule</a></li>
              <li><a href="/user/student/dashboard">Payment</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="school-footer-contact">
            <h2>Contact</h2>
            <p>43 Raymouth Rd. Baltemoer, London 3910</p>
            <a style="display: block;" href="tel:2348160149421">Tel: +234(0)8160149421</a>
            <a style="display: block;" href="tel:2348160149421">Tel: +234(0)8160149421</a>
            <a style="display: block;" href="mailto:ganiyusodiq059@gmail.com">ganiyusodiq059@gmail.com</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="school-footer-quick-links">
            <h2>Quick inks</h2>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/admission">Admission</a></li>
              <li><a href="#">Event</a></li>
              <li><a href="/about">Staffs</a></li>
              <li><a href="/user/login">Login</a></li>
              <li><a href="/user/register">Register</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrite">
        <small>&copy; Smart school 2021</small>
      </div>
    </footer>
    <% } %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <%if(title==="Home" ){%>
        <script src="/js/script.js"></script>

        <%}else if(title==='Student registration' ){%>
          <script src="/js/partial.js"></script>
          <script src="/js/validate.js"></script>
          <%}else{%>
            <script src="/js/partial.js"></script>
            <!-- <script src="/js/validate.js"></script> -->
            <%}%>
              </body>

              </html>